<h1>Europeon Cities List</h1><hr/>
<mat-grid-list cols="5" rowHeight="300">
  <mat-grid-tile *ngFor="let city of cities" [routerLink]="['/details/', city.id]">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{city.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-sm-image src="{{city.image}}" alt="{{city.name}}">
        <mat-card-content>
          <p>
            <strong>Temperature</strong> : {{city.temperature}}
          </p>
          <p>
            <strong>Sunrise</strong> : {{city.sunrise_time}}
          </p>
          <p>
            <strong>Sunset</strong> : {{city.sunset_time}}
          </p>

        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
