<h1>{{details.name}} City Details</h1><hr/>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{details.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{details.image}}" alt="{{details.name}}">
  <mat-card-content>
    <div>
      <div><strong>Temperature</strong>: {{details.temperature}}</div>
      <div><strong>Sunrise</strong>:{{details.sunrise_time}}</div>
      <div><strong>Sunset</strong>:{{details.sunset_time}}</div>
      <div><strong>Sea Level</strong> : {{details.sea_level}}</div>
    </div>
  </mat-card-content>

  <mat-card-actions class="center-button">
    <button mat-raised-button	[routerLink]="'/list'">Back To Listing</button>
  </mat-card-actions>
</mat-card>
